@model webBanSach.Models.Dondat
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemDonDatMoi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>ThemDonDatMoi</h1>
<h4>Dondat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemDonDatMoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Matk" class="control-label"></label>
                <select asp-for="Matk" class ="form-control" asp-items="ViewBag.Matk"></select>
            </div>
            <div class="form-group">
                <label asp-for="Trangthai" class="control-label"></label>
                <input asp-for="Trangthai" class="form-control" />
                <span asp-validation-for="Trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="ThemChiTietDDMoi">Thêm chi tiết đơn đặt </a>
            </div>
            
        </form>
    </div>
</div>


